[submodule "deps/wasm-glfw3-boilerplate"]
	path = packages/dear-imgui/cpp/deps/wasm-glfw3-boilerplate
	url = https://github.com/andreamancuso/wasm-glfw3-boilerplate
[submodule "packages/dear-imgui/cpp/deps/IconFontCppHeaders"]
	path = packages/dear-imgui/cpp/deps/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "packages/dear-imgui/cpp/deps/ReactivePlusPlus"]
	path = packages/dear-imgui/cpp/deps/ReactivePlusPlus
	url = https://github.com/victimsnino/ReactivePlusPlus.git
[submodule "packages/dear-imgui/cpp/deps/vcpkg"]
	path = packages/dear-imgui/cpp/deps/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "packages/dear-imgui/cpp/deps/osm-static-map-generator"]
	path = packages/dear-imgui/cpp/deps/osm-static-map-generator
	url = https://github.com/andreamancuso/osm-static-map-generator.git
[submodule "packages/dear-imgui/cpp/deps/yoga"]
	path = packages/dear-imgui/cpp/deps/yoga
	url = https://github.com/facebook/yoga.git
[submodule "packages/dear-imgui/cpp/deps/css-color-parser-cpp"]
	path = packages/dear-imgui/cpp/deps/css-color-parser-cpp
	url = https://github.com/andreamancuso/css-color-parser-cpp
